<html>
  <head>
    <title>Sugiarto Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>
  <body>
    <p class="summ">
      Hello..., I am sugiarto. A ruby on rails developer. 
      On my works, I implemented background process using <a href="https://github.com/mperham/sidekiq">sidekiq</a>
      . But On another project, I used <a href="https://github.com/collectiveidea/delayed_job">delayed job</a> for 
      easier integrating with ActiveRecord. Implemented payment system using <a href="https://github.com/stripe/stripe-ruby">Stripe</a>.      I want to tell the story, but seem I have no time right now. So here my <a href="https://www.upwork.com/freelancers/~01e12d81269df3013f">Upwork Profile</a> so you can hire me if you need help or something to share. Ooops forget to say, my github accout is 
     <a href="https://github.com/ugifractal">ugifractal</a>
      
      
    </p>

    <p class="summ">
      currently I am learning golang :)
    </p>
  </body>
</html>
